# Compiled Object and Dependent files
*.slo
*.lo
*.o
*.ro
*.d

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.bin

# CVS
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

# SVN
.svn/

# Ignore tags created by etags, ctags and gtags
TAGS
!TAGS/
tags
!tags/
GPATH
GRTAGS
GTAGS
GSYMS

# other
!.gitignore
*.log
*~
*.swp

# local
*.map
*.htm
*.html
*.css
*.gif
*.png
*.bmp
*.jpg
*.jpeg
*.psd
*.xml
*.xls
*.xlsx
*.xlsm
*.doc
*.ppt
*.tmp
*.csv
*.tar.gz
*.tgz
*.tar.bz2
*.tbz
*.xz

# develop for mmpu
*.mtpj
*.mtud
tools/
Tool/
USBlog/
USBtools/
obj/
prj/
cpu/
osd/
video/

# develop for da8xx
*.P
Audioappl
Audioappe
Audioappm
aads
dsplink/
dsplink_proc/
pautils_proc/
AudysseyPRO/
DevTools/
filesystem/
images/
kernel/
nCloud/
resource/
DSP/
bootloader/
forDevelopper/
lib/
package/
airplay/
airplay.p8/
wac/
amx/
cgi/
cnv_utf8/
compat-wireless/
diag/
dlna/
firecast/
ipc/
lltd/
mdns-repeater/
mms/
mounter/
netapp/
nettune/
onk_alac/
openssl/
param_changer/
pfsSetInfo/
smb_mount/
upnphttp/
usb_mount/
FLAC/
VinjeyDecoder/
aflib/
alac/
bluetooth/
boost/
cnv_utf8/
curl/
dbus/
ixml/
json/
libpng/
libspotify/
oauth/
ogg/
openssl_1_0_1e/
pfsSetInfo/
resourceutil/
tremor/
vorbis/
wma/
src/drivers/

# develop for Cirrus DSP
outputs/
*.lst
*.s
